.bookings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.detail--column {
  flex-basis: 24%;
  padding: 0 2rem;
  border: 2px solid hotpink;
}
